

.wrapper {
    height: 100vh;
    width: 100%;
    overflow: overlay;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: grey;
    }
}

.header {
    height: 60px;
    width: 100%;
    background-color: rgb(69, 193, 187);
    position: fixed;
    transition: all 0.2s ease-in-out;
    z-index: 9;
    transform: translateY(-100%);
}
.header.active {
    transform: translateY(0);
}

.body {
    width: 100%;
    display: grid;
    grid-template-columns: 80px calc(100% - 80px);
    margin-top: 60px;
}
.content {
    padding:10px;
    display: flex;
    flex-direction: column;
}

.content__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    .content__item {
        width: 100%;
        box-shadow: 0 0 5px 0px black;
        border-radius: 5px;
        overflow: hidden;
        img {
            width: inherit;
            height: 200px;
            background-size: cover;
            background-color: grey;
        }
    }

}

.nav {
    height: 400px;
    background-color: grey;
    position: sticky;
    top: 60px;
}

.footer {
    height: 300px;
}

// tablet
@media only screen and (max-width: 1024px) {
    .content__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 700px) {
    .content__body {
        grid-template-columns: 1fr 1fr;
    }
}